:root {
 --color-background: #F0EFED;
 --color-background-card: #fff;

 --spacing-m: 6rem;
 --spacing-s: 2rem;
 --spacing-xs: 1rem;

 --border-radius-m: 1rem;
 --border-radius-s: 0.5rem;

}

*,*::after,*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);

  height: 100dvh;

  display: grid;
  place-content: center;
}

main {
  background-color: var(--color-background-card);
  width: max-content;

  padding: var(--spacing-s);
  border-radius: var(--border-radius-m);

  > ul {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-xs);
    margin-block: var(--spacing-s);

    a {
      background-color: red;
      padding: var(--spacing-xs) var(--spacing-s);
      border-radius: var(--border-radius-m);
      text-decoration: none;
      color: black;
    }
  }

  section {
    margin-block: var(--spacing-xs);

    > ul {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);

      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

ul {
  list-style: none;
}