:root {
  --color-background: #EDEBDE;
  --color-background-card: #FFFFF2;
  --color-background-button: #333333;
  --color-text: var(--color-background-card);

  --spacing-m: 6rem;
  --spacing-s: 2rem;
  --spacing-xs: 1rem;
  --spacing-xxs: 0.5rem;

  --border-radius-m: 1rem;
  --border-radius-s: 0.5rem;

  --animation-duration: 0.2s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  background-color: var(--color-background);

  height: 100dvh;

  display: grid;
  place-content: center;
}

main, a {
  filter: drop-shadow(0px 13px 18px #33333324);
}

main {
  background-color: var(--color-background-card);
  width: max-content;

  padding: var(--spacing-s);
  border-radius: var(--border-radius-m);

  > ul {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-xs);
    margin-block: var(--spacing-s);

    a {
      background-color: var(--color-background-button);
      padding: var(--spacing-xs) var(--spacing-xs);
      border-radius: var(--border-radius-m);
      text-decoration: none;
      color: var(--color-text);


      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing-s);

      transition: all var(--animation-duration) ease;

      &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFF2' d='M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20z'/%3E%3C/svg%3E");
        width: 1.6em;
        height: 1.6em;
        background-size: 100% 100%;
        display: block;
        flex-shrink: 0;

        transition: all var(--animation-duration) ease;
        rotate: 135deg;
      }

      &:hover {
        scale: 1.03;
        transition: all var(--animation-duration) ease;

        &::after {
        transition: all var(--animation-duration) ease;
        rotate: 180deg;
      }
      }
    }
  }

  section {
    margin-block: var(--spacing-xs);

    >ul {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);

      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

img {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;

  display: flex;
  place-self: center;

  margin-bottom: var(--spacing-s);
}

ul {
  list-style: none;
}